<div class="container">

  <h1 class="center">all lists</h1>
  <div class="new-list">
  </div>

  <div class="lists">
  
  </div>
  
  <div class="search-form">
  </div>
  
  <div class="filter-buttons">
  
  </div>
  
  <div class="new-task">
  </div>
  
  <div class="list-tasks">
  </div>
</div>